.App {
    /* overflow-x: hidden; */
}
.content {
    max-width: 84rem;
    margin: 0 auto;
    width: 90%;
}
.underLine::after {
    content: "";
    display: flex;
    width: 100%;
    height: 4px;
    margin-top: 4px;
    background-color: #00499f;
    border-radius: 2px;
}

.navPanel {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: white;
    padding: 32px 0px;
    z-index: 11;
}

.navPanel::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0);
}

.whiteTextImportant li {
    color: white !important;
}

@media (max-width: 768px) {
    .navPanel {
        padding: 20px 0px 0px;
    }
}
